
body{
    background-color: rgba(230, 230, 230, 1);
}

header{
    text-align: center;
}

main{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    background-color: white;
}

h1{
    background-color: rgba(196, 196, 196, 1); 
    color: rgba(0, 86, 119, 1); 
    text-align: center; 
}

h2{
    background-color: rgba(196, 196, 196, 1);
    color:  rgba(0, 86, 119, 1);     
}
.titleData{
    font-weight: bolder;
}
.pData{
    margin-left: 78px;
}


.blancSpace{
    margin: 80px;
}
footer{
    background-color: rgba(0, 86, 119, 1);
    text-align: center;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
}